body{
    background-image:url("../images/PFC2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    font-style:Comic Sans MS;
    text-align:center;
}

.entete{
    text-align:center;
    color:black;
    border-style:groove;
    background-color:#D2691E;
    margin-bottom:40px;
}

#choixordi{
    font-size:20px;
}

#votrechoix{
    font-size:20px;
}

#choix{
    cursor:pointer;
}